<script>let canvas_id = <%= @canvas_id %>;</script>

<section class="row">
  <article class="column">
    <pre id="content" class="content">
      <%= raw @content %>
    </pre>
  </article>

</section>
